.NavigationItem {
  margin: 0 10px;
}

.NavigationItem a {
  text-decoration: none;
  padding: 13px;
  color: black;
  display: block;
}

.NavigationItem a.active {
  background-color: #4fe5ff;
  color: white;
}

.NavigationItem a:hover:not(.active) {
  background-color: #555;
  color: wheat;
}

@media (max-width: 700px) {
  .NavigationItem a {
    float: left;
  }
}

@media (max-width: 400px) {
  .NavigationItem a {
    float: none;
  }
}
