.Split {
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  overflow: hidden;
  padding-top: 20px;
}

.Form {
  /* z-index: 500; */
  width: 45%;
  right: 0;
  padding: 10% 0;
}

.Form .ForSpan span {
  display: block;
  position: absolute;
}

.Form .ForSpan span:nth-child(2) {
  right: 0;
  top: -100%;
  height: 100%;
  width: 8px;
  background: linear-gradient(180deg, transparent, #2196f3);
  border-radius: 18px;
}

.Form:hover .ForSpan span:nth-child(2) {
  top: 40%;
  transition: 1.5s;
  transition-delay: 0.5s;
}

.Form .ForSpan span:nth-child(4) {
  left: 0;
  bottom: -100%;
  height: 100%;
  width: 8px;
  background: linear-gradient(360deg, transparent, #2196f3);
  border-radius: 18px;
}

.Form:hover .ForSpan span:nth-child(4) {
  bottom: 40%;
  transition: 1.5s;
}

.Auth {
  width: 90%;
  margin: auto;
  /* padding: 80px 0; */
  padding: 80px 0 40px 0;
  border-radius: 10px;
  /* background: #09375e; */
  background: linear-gradient(90deg, #031321, rgb(81, 108, 158));
  box-shadow: 7px 7px 25px black;
  color: white;
}

.Mini {
  width: 55%;
  /* background: #2196f3; */
  /* padding: 30px; */
  left: 0;
}

@media (max-width: 700px) {
  .Form {
    z-index: 500;
    width: 100%;
    right: 0;
    padding: 20% 0;
  }

  .Mini {
    transition: 0.7s;
    width: 0;
    left: 0;
  }

}

.Auth Input {
  width: 70%;
  padding: 12px;
  border: 1px solid rgb(131, 131, 131);
  border-radius: 5px;
  outline: none;
}

.Auth Button {
  border: none;
  background: transparent;
  border-radius: 7px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 12px 28px;
  color: #98e2de;
  /* color: white; */
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 14px;
  overflow: hidden;
  transition: 0.2s;
  font-family: consolas;
  margin-top: 15px;
}

.Auth Button:hover {
  /* color: #255784; */
  color: white;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3,
    0 0 120px #2196f3, 0 0 160px #2196f3;
  transition-delay: 1.5s;
}

.Auth Button span {
  display: block;
  position: absolute;
}

.Auth Button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2196f3);
}

.Auth Button:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.Auth Button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2196f3);
}

.Auth Button:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

.Auth Button span:nth-child(2) {
  right: 0;
  top: -100%;
  height: 100%;
  width: 2px;
  background: linear-gradient(180deg, transparent, #2196f3);
}

.Auth Button:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.Auth Button span:nth-child(4) {
  left: 0;
  bottom: -100%;
  height: 100%;
  width: 2px;
  background: linear-gradient(360deg, transparent, #2196f3);
}

.Auth Button:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 1s;
}
